#name: CD
#
#on:
#  workflow_run:
#    workflows: ["CI"]
#    types:
#      - completed
#    branches:
#      - main  # 추가: main 브랜치만 트리거
#
#jobs:
#  deploy:
#    if: ${{ github.event.workflow_run.conclusion == 'success' }}
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: SSH Deploy
#        uses: appleboy/ssh-action@v1.0.3
#        with:
#          host: ${{ secrets.GCE_HOST }}
#          username: ${{ secrets.GCE_USER }}
#          key: ${{ secrets.GCE_SSH_KEY }}
#          script: |
#            cd /pbb
#
#            echo "Deploying commit: ${{ github.event.workflow_run.head_sha }}"
#
#            docker pull ${{ secrets.GCP_ARTIFACT_REGISTRY_PATH }}/pbb_api:${{ github.event.workflow_run.head_sha }}
#
#            docker compose down api
#            export IMAGE_TAG=${{ github.event.workflow_run.head_sha }}
#            docker compose up -d api
