name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCE_HOST }}
          username: ${{ secrets.GCE_USER }}
          key: ${{ secrets.GCE_SSH_KEY }}
          script: |
            cd /pbb
#            gcloud auth configure-docker asia-northeast3-docker.pkg.dev -q
            
            docker pull asia-northeast3-docker.pkg.dev/plzbuybook-487004/repo/pbb_api:${{ github.sha }}
            
            docker compose down api
            docker compose up -d api
